.profil {
    display: flex;
    height: 100vh;
  }
  
  .circle {
    position: relative;
    width: 20vw; /* Largeur responsive */
    height: 20vw; /* Hauteur responsive */
    border-radius: 50%;
    border: 20px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 3s ease-in-out infinite;
  }
  
  @media (max-width: 768px) {
    .circle {
      width: 60vw; /* Réduit la taille du cercle sur les petits écrans */
      height: 60vw;
    }
  }
  
  @media (max-width: 480px) {
    .circle {
      width: 80vw; /* Encore plus petit sur mobile */
      height: 80vw;
    }
  }
  
  .KexImage {
    border-radius: 10%;
    overflow: hidden;
    margin-top: 0%;
  }
  
  .icon {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .icon1 { top: 10%; left: 1%; }
  .icon2 { top: 10%; right: 1%; }
  .icon3 { bottom: 0.5%; left: 50%; transform: translateX(-50%); }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  

  